<ul class="list-group">
    <a href="/trainerdashboard" class="list-group-item {% if request.path == '/trainerdashboard/' %} active {% endif %}">Dashboard</a>
    <a href="/trainerprofile" class="list-group-item {% if request.path == '/trainerprofile/' %} active {% endif %}">Profile</a>
    <a href="#" class="list-group-item">Assigned Subscriber</a>
    <a href="#" class="list-group-item">Payments</a>
    <a href="#" class="list-group-item">Change Password</a>
    <a href="#" class="list-group-item">Messages<span class="badge bg-info float-end">123</span></a>
    <a href="#" class="list-group-item">Notifications<span class="badge bg-info float-end">123</span></a>
</ul>