{% extends 'base.html' %}
{% load static %}
 
{% block content %}

<div class="container py-3">
    <section class="col-md-6 offset-3">
    
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Trainer Login</h2>
        
    
        <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-md-0 mb-5" style="margin:0 auto;">
                {% if msg %}
                    <p class="text-success">{{msg}}</p>
                {% endif %}
                <form id="contact-form" name="contact-form" action="/trainerdashboard/" method="POST">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {{form.as_table}}
                    </table>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-primary">
                        </td>
                    </tr>
    
                </form>
                <p>New? Signup<a href="/accounts/signup"> here</a> </p>
            </div>
           
    
       
    
        </div>
    
    </section>
    </div>
{% endblock %}